[program:consul]
command = /opt/consul agent -server -bootstrap-expect 1 -data-dir /tmp/consul -node={{ansible_hostname}} -bind=192.168.10.101 -config-dir /etc/consul.d  -dc=HeraklionGR
autostart=true
autorestart=true
stdout_logfile=/var/log/consul/out
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10
stdout_capture_maxbytes=1MB
stderr_logfile=/var/log/consul/err
stderr_logfile_maxbytes=1MB
stderr_logfile_backups=10
stderr_capture_maxbytes=1MB